---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gugudev/commit-history/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"58985ca40f3b3170dd5a1fac23c46a8c4fcd71bf182e39e2e5b839b354dbbd2c"
      Last-Modified:
      - Wed, 18 Nov 2020 17:05:49 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1605729496'
      X-Ratelimit-Used:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"1a0c2ad5cf1f811564f9c883051ee6e1818eeacf","node_id":"MDY6Q29tbWl0MzEzOTc3NTAzOjFhMGMyYWQ1Y2YxZjgxMTU2NGY5Yzg4MzA1MWVlNmUxODE4ZWVhY2Y=","commit":{"author":{"name":"Gustavo
        Fe","email":"gugudeveloper@gmail.com","date":"2020-11-18T17:05:49Z"},"committer":{"name":"Gustavo
        Fe","email":"gugudeveloper@gmail.com","date":"2020-11-18T17:05:49Z"},"message":"Initial
        commit of rails project","tree":{"sha":"a14739696152d203920eea4f541ac75dc7a6ed2c","url":"https://api.github.com/repos/gugudev/commit-history/git/trees/a14739696152d203920eea4f541ac75dc7a6ed2c"},"url":"https://api.github.com/repos/gugudev/commit-history/git/commits/1a0c2ad5cf1f811564f9c883051ee6e1818eeacf","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/gugudev/commit-history/commits/1a0c2ad5cf1f811564f9c883051ee6e1818eeacf","html_url":"https://github.com/gugudev/commit-history/commit/1a0c2ad5cf1f811564f9c883051ee6e1818eeacf","comments_url":"https://api.github.com/repos/gugudev/commit-history/commits/1a0c2ad5cf1f811564f9c883051ee6e1818eeacf/comments","author":{"login":"gugudev","id":54562538,"node_id":"MDQ6VXNlcjU0NTYyNTM4","avatar_url":"https://avatars1.githubusercontent.com/u/54562538?v=4","gravatar_id":"","url":"https://api.github.com/users/gugudev","html_url":"https://github.com/gugudev","followers_url":"https://api.github.com/users/gugudev/followers","following_url":"https://api.github.com/users/gugudev/following{/other_user}","gists_url":"https://api.github.com/users/gugudev/gists{/gist_id}","starred_url":"https://api.github.com/users/gugudev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gugudev/subscriptions","organizations_url":"https://api.github.com/users/gugudev/orgs","repos_url":"https://api.github.com/users/gugudev/repos","events_url":"https://api.github.com/users/gugudev/events{/privacy}","received_events_url":"https://api.github.com/users/gugudev/received_events","type":"User","site_admin":false},"committer":{"login":"gugudev","id":54562538,"node_id":"MDQ6VXNlcjU0NTYyNTM4","avatar_url":"https://avatars1.githubusercontent.com/u/54562538?v=4","gravatar_id":"","url":"https://api.github.com/users/gugudev","html_url":"https://github.com/gugudev","followers_url":"https://api.github.com/users/gugudev/followers","following_url":"https://api.github.com/users/gugudev/following{/other_user}","gists_url":"https://api.github.com/users/gugudev/gists{/gist_id}","starred_url":"https://api.github.com/users/gugudev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gugudev/subscriptions","organizations_url":"https://api.github.com/users/gugudev/orgs","repos_url":"https://api.github.com/users/gugudev/repos","events_url":"https://api.github.com/users/gugudev/events{/privacy}","received_events_url":"https://api.github.com/users/gugudev/received_events","type":"User","site_admin":false},"parents":[{"sha":"8618ad41ad324d0cf18689c33beaf41523cffeb7","url":"https://api.github.com/repos/gugudev/commit-history/commits/8618ad41ad324d0cf18689c33beaf41523cffeb7","html_url":"https://github.com/gugudev/commit-history/commit/8618ad41ad324d0cf18689c33beaf41523cffeb7"}]},{"sha":"8618ad41ad324d0cf18689c33beaf41523cffeb7","node_id":"MDY6Q29tbWl0MzEzOTc3NTAzOjg2MThhZDQxYWQzMjRkMGNmMTg2ODljMzNiZWFmNDE1MjNjZmZlYjc=","commit":{"author":{"name":"Gustavo
        Fe","email":"54562538+gugudev@users.noreply.git[...]
