---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gugudev/commit-history/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c99ad158e7e264f1174ebdf2b86842289d35bf43bb2d6e4b38423d843a6f10ba"
      Last-Modified:
      - Thu, 19 Nov 2020 03:07:21 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '12'
      X-Ratelimit-Reset:
      - '1605756045'
      X-Ratelimit-Used:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"3cdd77132f5d4d80bf2141aaa992e9aa72ce84d8","node_id":"MDY6Q29tbWl0MzEzOTc3NTAzOjNjZGQ3NzEzMmY1ZDRkODBiZjIxNDFhYWE5OTJlOWFhNzJjZTg0ZDg=","commit":{"author":{"name":"Gustavo
        Fe","email":"gugudeveloper@gmail.com","date":"2020-11-19T03:07:21Z"},"committer":{"name":"Gustavo
        Fe","email":"gugudeveloper@gmail.com","date":"2020-11-19T03:07:21Z"},"message":"Added
        link to github in order to check the changes of commit","tree":{"sha":"9836680cab75c9f246b44eae8c2da56a43f06886","url":"https://api.github.com/repos/gugudev/commit-history/git/trees/9836680cab75c9f246b44eae8c2da56a43f06886"},"url":"https://api.github.com/repos/gugudev/commit-history/git/commits/3cdd77132f5d4d80bf2141aaa992e9aa72ce84d8","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/gugudev/commit-history/commits/3cdd77132f5d4d80bf2141aaa992e9aa72ce84d8","html_url":"https://github.com/gugudev/commit-history/commit/3cdd77132f5d4d80bf2141aaa992e9aa72ce84d8","comments_url":"https://api.github.com/repos/gugudev/commit-history/commits/3cdd77132f5d4d80bf2141aaa992e9aa72ce84d8/comments","author":{"login":"gugudev","id":54562538,"node_id":"MDQ6VXNlcjU0NTYyNTM4","avatar_url":"https://avatars1.githubusercontent.com/u/54562538?v=4","gravatar_id":"","url":"https://api.github.com/users/gugudev","html_url":"https://github.com/gugudev","followers_url":"https://api.github.com/users/gugudev/followers","following_url":"https://api.github.com/users/gugudev/following{/other_user}","gists_url":"https://api.github.com/users/gugudev/gists{/gist_id}","starred_url":"https://api.github.com/users/gugudev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gugudev/subscriptions","organizations_url":"https://api.github.com/users/gugudev/orgs","repos_url":"https://api.github.com/users/gugudev/repos","events_url":"https://api.github.com/users/gugudev/events{/privacy}","received_events_url":"https://api.github.com/users/gugudev/received_events","type":"User","site_admin":false},"committer":{"login":"gugudev","id":54562538,"node_id":"MDQ6VXNlcjU0NTYyNTM4","avatar_url":"https://avatars1.githubusercontent.com/u/54562538?v=4","gravatar_id":"","url":"https://api.github.com/users/gugudev","html_url":"https://github.com/gugudev","followers_url":"https://api.github.com/users/gugudev/followers","following_url":"https://api.github.com/users/gugudev/following{/other_user}","gists_url":"https://api.github.com/users/gugudev/gists{/gist_id}","starred_url":"https://api.github.com/users/gugudev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gugudev/subscriptions","organizations_url":"https://api.github.com/users/gugudev/orgs","repos_url":"https://api.github.com/users/gugudev/repos","events_url":"https://api.github.com/users/gugudev/events{/privacy}","received_events_url":"https://api.github.com/users/gugudev/received_events","type":"User","site_admin":false},"parents":[{"sha":"689739d3920f8ee7e3e48c6324386eb67e096334","url":"https://api.github.com/repos/gugudev/commit-history/commits/689739d3920f8ee7e3e48c6324386eb67e096334","html_url":"https://github.com/gugudev/commit-history/commit/689739d3920f8ee7e3e48c6324386eb67e096334"}]},{"sha":"689739d3920f8ee7e3e48c6324386eb67e096334","node_id":"MDY6Q29tbWl0MzEzOTc3NTAzOjY4OTczOWQzOTIwZjhlZTdlM2U0OGM2MzI0Mzg2ZWI2N2UwOTYzMzQ=","commit":{"author":{"name":"Gustavo
        Fe","email":"gugudeveloper@gmail.com","date":"2[...]
